footer {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: rgb(71, 68, 68);
  color: white;
  /* position: fixed;
  bottom: 36px;
  width: 100vw; */
}
.icons {
  padding: 10px;
}

.icons i {
  padding: 20px;
}
a{
  color: white;
}
.copyright{
  margin-bottom: 10px;
}